<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="{% static 'css/buttony.css' %}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Lis of sneakers</title>
<body>
<a href="/products/"><button class="custom-btn btn-3"><span>Return to products</span></button></a>

<center>
    {% for i in sneakers %}
      <hr>
    <h1>Name: {{i.name}}</h1>
    <p>Brand: {{i.choice_cross}}</p>
    <p>Model: {{i.title_cross}}</p>
    <p>Count: {{i.quatity_cross}}</p>
    <p>Address: {{i.address}}</p>
    <p>Telephone number: {{i.number_phone}}</p>
      <hr>
    {% endfor %}
</center>
<a href="/reg/"><button class="custom-btn btn-3"><span>Actions with registration</span></button></a>
</body>
</html>